*{
  margin: 0;
  padding: 0;
}
body{
  font-family:  "Poppins", sans-serif;
}
.blueRibbon{
  width: 100%;
    height: 40px;
    background: #2AA7FF;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;


}
.heroSection{
  background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
  width: 100%;
  min-height: 835px;
  display: flex;
  justify-content: center;

}
.homeContainer{
  margin-top: 20px;
  width: 90%;

}
.customDialog {
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialogHeader h2 {
  margin: 0;
  font-size: 1.5rem;
}

.dialogHeader button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchFeildContainer{
  display: flex;
  gap:2em;

}

.searchButton{
  width: 121px;
height: 50px;
color:#fff;
font-weight: 500;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 10px;
font-size: 16px;
opacity: 1;
border-radius: 8px;
background: #2AA8FF;
border:none;


}
.bg-white{
  background-color: #fff;
}

.parent-caring-container{
  margin-top: 20px;
  background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);


}

/* src/components/Footer.css or in your main App.css file */

.footer-container {
  background-color: #03284f; /* Dark blue color */
  color: #fff;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Logo and Copyright Section */
.footer-logo-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
  padding-right: 20px;
}

.footer-logo-section .logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-logo-section .copyright-text {
  font-size: 14px;
  color: #b0c4de; /* Lighter shade of white for contrast */
}

/* Links Section */
.footer-links-section {
  display: flex;
  flex: 2;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  margin: 10px 20px;
  min-width: 150px; /* Ensures columns don't get too narrow */
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #d1e2f6; /* A slight change on hover for a subtle effect */
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center; /* Center items for smaller screens */
    text-align: center;
  }

  .footer-logo-section,
  .footer-links-section {
    margin-bottom: 30px;
  }
}